.header img {
    height: 55px;
    width: 55px;
    margin: 1px;
    border-radius: 50%;
}

.header {
    grid-area: h;
    background-color: #2ed9d4;
}

.login {
    float: right;
    margin: 5px;
    text-decoration: none;
    font-size: larger;
    width: 200px;
}

.login a {
    color: #e1fdfd;
}

.authUser {
    font-size: small;
}

.logoutButton {
    margin: 3px;
    width: 60px;
    height: 20px;
    font-size: small;
}